.overview {
    display: flex;
    flex-wrap: wrap;
}

.overview > div {
    flex: 1 1 100%;
}

.newest-payments {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
}

.newest-payments > a {
    align-self: flex-end;
    margin-top: 12px;
}
