.overview {
    display: flex;
    flex-wrap: wrap;
}

.overview > div {
    flex: 1 1 100%;
}

.newest-payments {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
}

.newest-payments > a {
    align-self: flex-end;
    margin-top: 12px;
}

@media(min-width: 840px) {
    .overview {
        flex-wrap: nowrap;
        justify-items: stretch;
    }

    .new-payment {
        margin-right: 48px;
        max-width: 480px;
    }

    .newest-payments {
        margin-top: 0px;
    }
}
