.flex {
    display: flex;
    flex-wrap: wrap;

    > * {
        flex: 1 1 100%;
    }

    > .wed-transaction-overview {
        margin-top: 64px;
    }
}

@media(min-width: 840px) {
    .flex {
    flex-wrap: nowrap;

        > wed-payment {
            flex-basis: 420px;
            flex-grow: 0;
        }

        > .wed-transaction-overview {
            flex-basis: 1px;
            flex-shrink: 0;
            margin-top: 0px;
            margin-left: 64px;
        }
    }
}
