<wed-box>
  <h3>Registrierung</h3>
  <form (ngSubmit)="doRegister(registerForm)" #registerForm="ngForm">
    <label>
      <div class="validated-input">
        <input pattern=".{2,}" placeholder="Vorname" type="text" name="firstname" #firstname="ngModel" ngModel required>
        <small class="validation-warning" [hidden]="firstname.pristine || firstname.valid">Gib bitte deinen Vornamen
          an.
        </small>
      </div>
    </label>
    <label>
      <div class="validated-input">
        <input pattern=".{2,}" placeholder="Nachname" type="text" name="lastname" #lastname="ngModel" ngModel required>
        <small class="validation-warning" [hidden]="lastname.pristine || lastname.valid">Gib bitte deinen Vornamen an.
        </small>
      </div>
    </label>
    <label>
      <div class="validated-input">
        <input pattern=".{3,}" placeholder="Username" type="text" name="login" #login="ngModel" ngModel required>
        <small class="validation-warning" [hidden]="login.pristine || login.valid">Wähle einen Usernamen mit mindestens
          3 Zeichen.
        </small>
      </div>
    </label>
    <label>
      <div class="validated-input">
        <input pattern=".{3,}" placeholder="Passwort" type="password" name="password" #password="ngModel" ngModel
               required>
        <small class="validation-warning" [hidden]="password.pristine || password.valid">Das Passwort muss mindestens
          aus 3 Zeichen bestehen.
        </small>
      </div>
    </label>
    <label>
      <div class="validated-input">
        <input pattern="^{{password.value}}$" placeholder="Passwort bestätigen" type="password" name="passwordConfirm"
               #passwordConfirm="ngModel" ngModel required>
        <small class="validation-warning" [hidden]="passwordConfirm.pristine || passwordConfirm.valid">Bitte bestätige
          dein gewähltes Passwort.
        </small>
      </div>
    </label>
    <button class="button-right" [disabled]="!registerForm.valid">Register</button>
  </form>
</wed-box>
