{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "max-len": [1, { "code": 150 }],
    "react/prefer-stateless-function": [0],
    "jsx-a11y/anchor-is-valid": [0],
    "jsx-a11y/href-no-hash": [0]
  },
  "globals": {
    "sessionStorage": true,
    "fetch": true,
    "HTMLInputElement": true,
    "Event": true,
    "document": true,
    "window": true
  }
}
