.input {
    margin-bottom: 24px;
}

input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 3px;
    border: 1px black solid;
    padding: 12px;
    box-sizing: border-box;
}

input:focus,
input:hover,
input:active {
    margin-bottom: 0px;
    border-bottom: 4px black solid;
}
