<div>

  <h4 *ngIf="!filteredTransactions || filteredTransactions.length == 0">
    Keine Transaktionen für dieses Konto gefunden.
  </h4>

  <table *ngIf="filteredTransactions && filteredTransactions.length > 0">

    <tr>
      <th>Von</th>
      <th>Zu</th>
      <th>Betrag[CHF]</th>
      <th>Kontostand[CHF]</th>
    </tr>

    <tr *ngFor="let transaction of filteredTransactions">
      <td>{{transaction.from}}</td>
      <td>{{transaction.target}}</td>
      <td>{{transaction.amount}}</td>
      <td>{{transaction.total}}</td>
    </tr>

  </table>

</div>
