<div>
  <div>
    <h2>Filter</h2>
    <p>Wähle ein Jahr aus</p>
    <select [(ngModel)]="selectedYear">
      <option *ngFor="let year of getYearFilters()" value="{{year.value}}">
        {{year.text}}
      </option>
    </select>

    <p>Wähle einen Monat aus</p>
    <select [(ngModel)]="selectedMonth">
      <option *ngFor="let month of getMonthFilters()" value="{{month.value}}">
        {{month.text}}
      </option>
    </select>
  </div>

  <wed-transaction-overview [yearFilter]="selectedYear" [monthFilter]="selectedMonth"></wed-transaction-overview>
</div>
