<div class="filter">
  <label>Wähle ein Jahr aus
    <select [(ngModel)]="selectedYear">
      <option *ngFor="let year of getYearFilters()" value="{{year.value}}">
        {{year.text}}
      </option>
    </select>
  </label>

  <label>Wähle einen Monat aus
    <select id="month" [(ngModel)]="selectedMonth">
      <option *ngFor="let month of getMonthFilters()" value="{{month.value}}">
        {{month.text}}
      </option>
    </select>
  </label>
</div>

<wed-transaction-overview [yearFilter]="selectedYear" [monthFilter]="selectedMonth"></wed-transaction-overview>
