<div *ngIf="bankAccount">
  <form (ngSubmit)="doPayment(paymentForm)" #paymentForm="ngForm">
    Von:
    <input type="text" value="{{bankAccount.accountNr}} [{{bankAccount.amount}} CHF]" [readonly]="true"/>

    <label>
      <div class="validated-input">
        Zu:
        <input pattern=".{1,}" type="text" placeholder="Zielkontonummer" name="target" #targetControl="ngModel" type="text" [(ngModel)]="target" (ngModelChange)="searchBankaccount()" required/>
        <small class="validation-warning" [hidden]="targetControl.pristine || targetControl.valid">Bitte geben Sie eine Kontonummer an
        </small>
        <small>
          {{targetBankAccountOwner}}
        </small>
      </div>
    </label>

    <label>
      <div class="validated-input">
        Betrag [CHF]:
        <input type="number" placeholder="Betrag in CHF" name="amount" #amount="ngModel" ngModel [customMin]="minNum"/>
        <div *ngIf="amount.errors?.customMin" [hidden]="amount.pristine || amount.valid">
          <small class="validation-warning">
            Der Betrag muss mindestends {{minNum}} CHF sein.
          </small>
        </div>

      </div>
    </label>

    <button type="submit" [disabled]="!paymentForm.valid">Bezahlen</button>
  </form>
</div>
