nav {
    margin-bottom: 48px;
}

ul {
   display: flex;
   justify-content: space-between;
}

nav a {
    display: block;
    border-bottom: 2px black solid;
    margin: 24px 48px 0px 0px;
    transition: 0.2s;
}

nav .right a {
    margin: 24px 0px 0px 48px;
}

.left {
    display: flex;
}

nav a:hover,
.router-link-active {
    border-bottom: 8px black solid;
}
